<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rong.drop">

    <application
        android:name=".DropApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/NAL_app_name"
        android:logo="@mipmap/logo"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/NoTitleTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".businesss.activity.BudGetCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".businesss.activity.EditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/translationTheme" />
        <activity android:name=".businesss.activity.MyBudgetsActivity"
            android:theme="@style/AnimationUpOpenTheme"
            android:screenOrientation="portrait"/>
    </application>

</manifest>